<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header">
              <h3>ADD NEW TODO</h3>
            </slot>
          </div>
          <div class="modal-body">
            <slot name="body">
              <div id="inputBar">
                <input v-model="newTodoText" v-on:keyup.enter="$emit('addTodo', newTodoText)" placeholder="Wat gaan we doen?" class="input is-centered" v-focus />
              </div>
            </slot>
          </div>
          <div class="modal-footer is-centered control has-text-centered">
            <slot name="footer">
              <button class="button is-primary modal-default-but" @click="$emit('addTodo', newTodoText)">
                OK
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  data () {
    return {
      newTodoText: ''
    }
  },
  directives: {
    focus: {
      inserted(el) {
        el.focus()
      }
    }
  }
}
</script>
