<template>
  <section>

<aside class="menu">
  <p class="menu-label">
    Projects
  </p>
      <ul class="menu-list">
        <Project v-for="project in projects" :key="project.id" :project="project" @remove="remove"></Project>
      </ul>

  <p class="menu-label">
    Add project
  </p>
  <ul class="menu-list">
   <li><a> 
      <input v-model="newProjectText" @keyup.enter="addNewProject" placeholder="Add a project">
      </a></li>
  </ul>
</aside>


 </section>
</template>

<script type="text/javascript">
import Project from './Project'
import { makeId } from '@/utils'

export default {
  components: {
    Project
  },
  data() {
    return {
      projects: [{
        id: makeId(),
        title: 'Schrijf een plan'
      }],
      newProjectText: ''
    }
  },
  methods: {
    addNewProject() {
      const id = makeId()
      const title = this.newProjectText
      this.projects.push({ id, title })
    },
    remove(project) {
      const index = this.projects.findIndex(p => p.id === project.id)
      this.projects.splice(index, 1)
    }
  }
}
</script>

