<template>
  <section>
    <AddTodo v-if="showModal" @addTodo="addTodo" @close="showModal = false" />

<aside class="menu">
  <p class="menu-label">
    TODO'S
  </p>
    <div id="todo-list" class="content">
      <ul>
        <Todo v-for="todo in todos" v-on:remove="removeTodo(todo)" v-bind:key="todo.id" v-bind:todo="todo"></Todo>
      </ul>
    </div>
</aside> 
  </section>
</template>

<script type="text/javascript">
import Todo from '@/components/Todo'
import AddTodo from '@/components/AddTodo'
import { makeId } from '@/utils'

export default {
  components: {
    Todo, AddTodo
  },
  data() {
    return {
      showModal: false,
      todos: [{
        id: makeId(),
        isChecked: false,
        title: 'Do the dishes'
      }]
    }
  },
  created() {
    window.addEventListener('keydown', e => {
      this.keyListener(e)
    })
  },
  methods: {
    addTodo(newTodoText) {
      const title = newTodoText
      const id = makeId
      this.todos.push({ id, title })
      this.showModal = false
    },
    removeTodo: function (todo) {
      const index = this.todos.findIndex(t => t.id === todo.id)
      this.todos.splice(index, 1)
      console.log('Removed ' + todo.title)
    },
    keyListener: function (e) {
      if (e.key === 'q') {
        this.showModal = true
        e.preventDefault()
        /* Zonder bovenstaande regel wordt bij "keyup" automatisch "q" ingevuld in de input bar */
      } else if (e.key === 'Escape') {
        this.showModal = false
      }
    }
  }
}
</script>
