<template>
  <li class="todoItem">
    <div class="columns">
      <div class="column is-two-third">
        
        
        <input type="checkbox" v-model="todo.isChecked" v-on:click="$emit('remove')" v-bind:id="todo.id" /> 
    {{ todo.title }}
      </div>
      <div class="column is-one-third has-text-right todoTags">
        <span class="tag is-warning">High</span>
        <span class="tag is-primary">@bellen</span>
      </div>
    
    </div>

  </li>
</template>


<script type="text/javascript">
export default {
  components: {},
  props: ['todo']
}
</script>

<style>
.todoItem {
  list-style-type: none;
  padding: 10px 0px 10px 0px;
  font-size: 24px;
  width: 600px;
  margin-left: -50px;
} 

li {
    border-bottom: 1px solid #ccc;

}

.todoTags {
  margin-top: -5px;
}
input[type='checkbox'] {
    width:15px;
    height:15px;
    margin: 0px 20px 0px 0px;
}
</style>