<template>
  <div id="app">
    <section class="header hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            GTD
          </h1>
          <h2 class="subtitle">
            Primary subtitle
          </h2>
        </div>
      </div>
    </section>
    <div class="container is-center">
     <div class="columns">
        <div class="column">
          <section class="section projects">
            <ProjectList />
          </section>
        </div>
        <div class="column is-two-thirds">
          <section class="section todos">
            <TodoList />
          </section>
        </div>
      </div>
    </div>
    </section>
  </div>
  </div>
  </div>
</template>

<script>
import ProjectList from './components/ProjectList'
import TodoList from './components/TodoList'

export default {
  name: 'app',
  components: {
    TodoList,
    ProjectList
  }
}
</script>

<style>
@import "../node_modules/bulma/css/bulma.css";
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono");


body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
  background-color: #fff;
  margin: 0;
}

.header {
}

.container {
  width: 800px;
}

.addForm {
  padding: 30px 0px 30px 0px;
}

.header {
  padding: 10px;
  border-bottom: 1px solid silver;
}

.todos,
.projects {
  padding: 30px;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-container input {
  font-size: 23px;
  width: 500px;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
